[submodule "services/cognito-auth-service"]
	path = services/cognito-auth-service
	url = git@github.com:sithsithsith/mugiservices.git
[submodule "packages/tailwind-react-components"]
	path = packages/tailwind-react-components
	url = git@github.com:sithsithsith/tailwind-react-components.git
